.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game {
  display: flex;
  width: 450px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 90vw;
  height: 450px;
  max-height: 90vw;
}

.row {
  height: 30%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field {
  width: 32%;
  height: 100%;
  border: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(3em + 1vw);
  font-weight: 900;
  position: relative;
  cursor: pointer;
  transition: 0.5 ease-in-out;
}

.dark .field {
  border-color: #fff;
}

.field.x::before,
.game-board.x .field:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.field.x::after,
.game-board.x .field:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.field.x::before,
.field.x::after,
.game-board.x .field:not(.x):not(.circle):hover::before,
.game-board.x .field:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(90% * 0.15);
  height: 90%;
  background-color: #000;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.dark .field.x::before,
.dark .field.x::after,
.dark .game-board.x .field:not(.x):not(.circle):hover::before,
.dark .game-board.x .field:not(.x):not(.circle):hover::after {
  content: "";
  background: #fff;
}

.game-board.x .field:not(.x):not(.circle):hover::before,
.game-board.x .field:not(.x):not(.circle):hover::after {
  transition: 0.5s ease-in-out;
  background-color: #444;
}

.dark .game-board.x .field:not(.x):not(.circle):hover::before,
.dark .game-board.x .field:not(.x):not(.circle):hover::after {
  background-color: #aaa;
}

.field.circle::before,
.game-board.circle .field:not(.x):not(.circle):hover::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #000;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
}

.field.circle::after,
.game-board.circle .field:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 55%;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.dark .field.circle::before,
.dark .game-board.circle .field:not(.x):not(.circle):hover::before {
  background: #fff;
}

.dark .field.circle::after,
.dark .game-board.circle .field:not(.x):not(.circle):hover::after {
  background: rgb(40, 40, 40);
}

.dark .game-board.circle .field:not(.x):not(.circle):hover::before {
  background-color: #aaa;
}

.game-board.circle .field:not(.x):not(.circle):hover::before {
  transition: 0.5s ease-in-out;
  background-color: #444;
}

.field.x,
.field.circle {
  cursor: not-allowed;
}
