.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90vw;
    height: 450px;
    max-height: 90vw;
}

.row {
    height: 30%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    width: 32%;
    height: 100%;
    border: 5px solid #000;
}

.dark .field {
    border-color: #fff;
}