.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 100%;
    align-items: center;
}

.title {
    display: flex;
    font-family: 'Rubik Dirt', cursive;
    justify-content: center;
    width: 30%;
    font-size: calc(1em + 2vw);
    font-weight: 900;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.buttons a,
.buttons button{
    text-decoration: none;
    display: flex;
    padding: 10px 10px;
    border-radius: 10px;
    border: 4px solid #000;
    color: #000;
    font-weight: 700;
    transition: transform .5s;
    font-size: calc(.5em + .5vw);
    background: none;
}
.buttons a:hover,
.buttons button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

