.name {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 0
}

.dark .name {
    border-color: #fff;
}

.name input {
    border: none;
    padding: 10px;
    min-width: 90%;
    margin-left: 10px;
    background: none
}

.name input:focus {
    outline: none;
}

.dark .name input {
    color: #fff !important;
}

.dark ::placeholder {
    color: #fff;
}